

<md-toolbar color="primary">
  <span>Virginia Beach - Geographic Data</span>
  <span class="example-fill-remaining-space"></span>
  <span>
    <button class="toolbar-button" md-mini-fab md-tooltip="help" (click)="openLogin()">
      <md-icon style="color:black;">help</md-icon>
    </button>
  </span>
</md-toolbar>
<vb-map [mapMarkers]='currentlyViewing'></vb-map>
<vb-sidebar [places]='currentlyViewing'></vb-sidebar>


<!--
Add button on the sidebar
<div class="add-vb">
  <button class="toolbar-button" md-fab md-tooltip="Add vb" (click)="openNewvb()">
    <md-icon class="md-24" style="color:black;">create</md-icon>
  </button>
</div>
-->
