<md-card [style.backgroundColor]="quest.color">
   <md-card-title style="margin-bottom:2px;">{{quest.name}}</md-card-title>
   <md-card-subtitle>by {{quest.creator}}</md-card-subtitle>
   <md-card-content>
        <p>{{quest.description}}</p>
        <md-list dense>
          <md-list-item *ngFor="let reward of quest.rewards">
            <img md-list-avatar src="assets/imgs/{{reward.img}}" alt="{{quest.stat}}">
            <h3 md-line> {{reward.name}} </h3>
            <p md-line>
              <span style="color:#444"> {{reward.amount}} </span>
            </p>
          </md-list-item>
        </md-list>
   </md-card-content>
   <md-card-actions>
        <button md-raised-button color="accent" md-tooltip="On Map">Location</button>
        <button md-raised-button color="primary" style="float:right;" md-tooltip="Start Quest">Accept</button>
   </md-card-actions>
</md-card>
