.sidebar{
  position: fixed;
  left:85vw;
  width: 15vw;
  height: 93vh;
  top: 64px;
  overflow-y: scroll;
}

.active-section{
  padding: 6px;
}

.vb-section{
  padding: 6px;
}

.icon-tab{
  min-width: 50px !important;
}
